:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Centrado vertical */
  background-color: #f5f7fa;
}

/* Card personalizado */
.login-card {
  width: 100%;
  max-width: 420px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 2rem;
  background: white;
}

/* Etiquetas */
label {
  display: block;
  margin: 0.75rem 0 0.25rem;
  font-weight: 600;
  color: #37474F;
}

/* Inputs */
input, .p-password input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Errores */
.text-red-500 {
  color: #f44336;
  font-size: 0.875rem;
  margin-top: 0.2rem;
}
:host ::ng-deep .p-button + .p-button {
  margin-top: 0.5rem; /* separa botones que están seguidos */
}
.toast-wrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}
